.pa{
    margin-left: 30px;
    font-size: 25px;
}
#ac{
    margin-top: 1000px;
    /* margin-left: 9000px; */
}
.fiverr{
    margin-left: 160px;
    font-size: 5vh;
}
.upwork{
    float: right;   
    margin-right: 120px;
    /* margin-top: 0px; */
}
#U-div{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

#contact_f {
    background-color: wheat;
    color: gray;
    height: 40px;
    cursor: pointer;
    border: 2px solid black;
    text-align: center;
    border-radius: 100px;
}
#contact_f:hover{
    background-color: white;
    color: black;
    border: 2px solid grey;
}